<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <div class="ban">
      <a class="link" routerLink="/">BringMeOut</a>
    </div>
    <div class="button-container">
        <button class="login-button" mat-raised-button color="primary" *ngIf="!userIsLoggedIn()" routerLink="/login">Login</button>
        <button class="login-button" mat-raised-button color="accent" *ngIf="userIsLoggedIn()" routerLink="/logout">Logout</button>
    </div>
    <div>
      <app-file-upload (downloaded)="downloadUrlHandler($event)" (progression)="progressionHandler($event)"></app-file-upload>
    </div>
    <div class="footer">
      <div class="copyright">
          © 2018 BringMeOut
      </div>
    </div>
  </mat-sidenav>
  <!-- Website content -->

  <router-outlet></router-outlet>


</mat-sidenav-container>
