<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <div class="ban">
      <a class="link" routerLink="/">BringMeOut</a>
    </div>
    <div class="button-container">
        <button class="login-button" mat-raised-button color="primary" *ngIf="!userIsLoggedIn()" routerLink="/login">Login</button>
        <button class="login-button" mat-raised-button color="accent" *ngIf="userIsLoggedIn()" routerLink="/logout">Logout</button>
        <div class="add-event-container">
          <button class="add-event-button" mat-fab *ngIf="userIsLoggedIn()" routerLink="/edit">
            <mat-icon aria-label="Boutton de creation de formulaire">add</mat-icon>
          </button>
        </div>
    </div>


    <div class="footer">
      <div class="copyright">
          © 2018 BringMeOut
      </div>
    </div>
  </mat-sidenav>
  <!-- Website content -->

  <router-outlet></router-outlet>


</mat-sidenav-container>
