.form-event-create {
  display: flex;
  justify-content: center;

  .container-event-form{
    display: flex;
    flex-direction: column;
    width: 80%;


    .date-edit-form{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .event-file-upload{
    display: flex;
    justify-content: center;
  }

  .event-map-form-map {
    height: 300px;
    min-width: 300px;
  }
}
